html {
  height: 100%;
  margin-left: 30px;
}


.dropdown-block {
  margin-bottom: 10px;
}

.some-block {
  margin-bottom: 10px;
}


.review-block {
  margin-bottom: 20px;
}

#route-table-list {
  position: relative;
}

.table-block {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.table-block:target {
  opacity: 1;
  pointer-events: auto;
}

.table-route {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #6A5ACD;
  color: white;
  border: 2px solid #ccc;
  border-radius: 25px 0px 25px 0px;
}

.table-body-route {
  padding: 10px;
  background-color: white;
  color: black;
  border: 2px solid #ccc;
  border-radius: 25px 0px 25px 0px;
}

.submit-review {
  text-align: center;
  padding: 7px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: lightseagreen;
  cursor: pointer;
  outline: none;
}


.dropdown-list-categories {
  display: inline-block;
}

.dropdown-list-categories .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  background-color: #6A5ACD;
  color: white;
  border: 1px solid #ccc;
  border-radius: 25px 0px 25px 0px;
  width: 210px;
}

.dropdown-list-categories .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid white;
  border-top: 2px solid white;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-list-categories .anchor:active:after {
  right: 10px;
  top: 8%;
}


.dropdown-list-categories ul.items {
  overflow-y: scroll;
  height: 304px;
  padding: 1px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0px 0px 0px 25px;
}

.dropdown-list-categories ul.items li {
  height: 20px;
  list-style: none;
}

.dropdown-list-categories.visible .anchor {
  background-color: #008080;
  border-radius: 0px 25px 0px 25px;
}

.dropdown-list-categories.visible .items {
  display: block;
}


@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}

.submit-spinner {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: -0.125em;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  color: #ccc;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}

.submit-spinner_hide {
  display: none;
}


#show-story-submit {
  width: 210px;
  text-align: center;
  padding: 7px;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  background-color: cadetblue;
  cursor: pointer;
  outline: none;
}

#build-route-submit {
  width: 210px;
  text-align: center;
  padding: 7px;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  background-color: #008080;
  cursor: pointer;
  outline: none;
}

#build-route-submit:disabled {
  text-align: center;
  padding: 7px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color:darkslategray;
  cursor: default;
  outline: none;
}

.input-field {
  margin: 0;
  width: 40%;
  padding-left: 12px;
  border: 2px solid #ccc;
  border-radius: 25px 0px 25px 0px;
}

.select-field {
  margin: 0;
  width: 45%;
  padding-left: 12px;
  border: 2px solid #ccc;
  border-radius: 25px 0px 25px 0px;
}


.flex-container {
  display: flex;
  margin: 20px;
  flex-direction: row;
}

#main-params {
  display: flex;
  flex-direction: column;
}

.time-h-input {
  display: flex;
  flex-direction: column;
}

.time-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.time-input-col {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.time-input-col-left {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.time-input-row-val {
  display: flex;
  flex-direction: row;
}

#add-params {
  display: flex;
  flex-direction: column;
}

#add-params div {
  padding-bottom: 7px;
}

.lvl-block {
  padding-left: 5px;
}


/* Вкладки для маршрутов */
.tabs {
  display: flex;
  flex-direction: column;
}

.tabs__links {
  display: flex;
  flex-direction: row;
  order: 0;
  white-space: nowrap;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #e3f2fd;
  box-shadow: 0 2px 4px 0 #e3f2fd;
}

.tabs__links>a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 10px;
  text-align: center;
  border-radius: 0px 15px 0px 15px;
}

.act-route-link {
  background-color:#32baba;
  color: white;
}

.tabs>div:not(.tabs__links) {
  order: 1;
  flex-grow: 1;
}

@media (min-width: 576px) {
  .tabs {
    flex-direction: row;
  }

  .tabs__links {
    flex-direction: column;
    border: none;
    box-shadow: none;
  }

  .tabs__links>a {
    border: 2px solid #e3f2fd;
    box-shadow: 0 2px 4px 0 #e3f2fd;
    margin-bottom: 8px;
  }

  .tabs__links>a:last-child {
    margin-bottom: 0;
  }

  .tabs>div:not(.tabs__links) {
    padding-left: 15px;
  }
}

.tabs>div:target {
  display: block;
}

.div-h3-route {
  padding: 0;
}
