<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="../static/css/register.css">
  <script defer src="../static/js/consts.js"></script>
  <script defer src="../static/js/register.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="register-header">Регистрация</h1>

    <div id="register-error-msg-holder">
      <p id="register-error-msg">Это имя пользователя занято.
        <span id="error-msg-second-line">Придумайте другое имя</span></p>
    </div>

    <form id="register-form">
      <input type="text" name="username" id="username-field" class="register-form-field" placeholder="Имя пользователя">
      <input type="password" name="password" id="password-field" class="register-form-field" placeholder="Пароль">
      <input type="submit" value="Зарегистрироваться" id="register-form-submit">
    </form>

  </main>
</body>

</html>